@model IEnumerable< WebMinhaFinancas.Models.Entitty.User>

@{
    ViewData["Title"] = "usuários";
}

<h2 class="jumbotron">@ViewData["Title"]</h2>

<p>
    <a class="btn sbtn-default myFont" asp-action="Registro">Create New</a>
</p>

<table class="table">
    <thead>
        <tr class="">
            <th>
                @Html.DisplayNameFor(m => m.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CreateAt)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class=" text-uppercase">
                    @item.FullName
                </td>
                <td>
                  @item.Email
                   

                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.CreateAt)*@

                    @item.CreateAt

                </td>

                <td>
                    @*<a class="btn btn-warning mr-15" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit fa"></i></a>
                    <a class="btn btn-info mr-15" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info fa"></i></a>
                    <a class="btn btn-danger mr-15" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash fa"></i></a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
