@model IEnumerable<WebMinhaFinancas.Models.Entitty.Icon>

@{
    ViewData["Title"] = "Icones";
}

<h2 class="alert alert-success">@ViewData["Title"]</h2>

<p>
    <a class="btn btn-default" asp-action="Create">Novo</a>
</p>
<div class="table-responsive-sm">

    <table class="table table-hover card-header-tabs">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IconName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IconClass)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IconName)
                    </td>
                    <td>
                        <i class="@Html.DisplayFor(modelItem => item.IconClass) fa-lg"></i>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
