@{
    ViewData["Title"] = "Contatos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <a class="my-link" href="@ViewData["LinkWA"]" target="_blank">
        <i class="fab fa-whatsapp-square fa-lg"></i>  @ViewData["Tel"]
    </a>
</address>

<address>

    <a class="my-link" href="@ViewData["Linkdin"]" target="_blank">
        <i class="fab fa-linkedin fa-lg"></i> /rodolfolealbraga
    </a>
</address>
